.content {
    width: 380px;
    height: 510px;
    background-color: #1e293b;
    border-radius: 20px;
    border: 2px double #38bdf8;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}

img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    border: 2px double #38bdf8;
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}

h1 {
    color: #f8fafc;
}

.profile {
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.name {
    display: flex;
    align-items: center;
    justify-content: center;
}
.current {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about {
    text-align: center;
}

.connect {
    text-align: center;
    margin-top: 40px;
    color: #38bdf8;
}



.buttons {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.desc {
    color: #cbd5e1;
}

button {
    color:#38bdf8;
    background-color: #1e293b;
    border-radius: 20px;
    border: 2px double #38bdf8;
}

button:hover {
    background-color: #38bdf8;
    color: #0f172a;
}

p {
    color: #94a3b8;
}
body {
    background-color: #0f172a;
}

.outer {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}



.p1,.p2 {
    margin-top: 60px;
    width: 250px;
    height: 250px;
    border: 2px double #38bdf8;
}

.pro_outer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: safe;
}

.p1:hover {
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}

.p2:hover {
    box-shadow: 0 0 15px rgba(56, 189, 248, 0.6);
}


.about {
    width : 350px;
    
}

.out_about {
    display: flex;
    align-items: center;
    justify-content: center;
}